* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  padding: 10px 30px;
  column-gap: 600px;
  align-items: center;
  height: 70px;
  background-image: linear-gradient(to left, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.header .header-item {
  display: flex;
  column-gap: 30px;
}

.header .header-item a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.header .header-item .home-btn {
  border-bottom: 2px solid black;
}


.home {
  background-image: linear-gradient(to left, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  background-size: cover;
  height: 565px;
  width: 100%;
}

.home .main-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  padding: 30px;
}

.home .main-sec .left .txt {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.home .left .txt p {
  font-size: 4rem;
  color: black;
}

.home .left .txt button {
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  width: fit-content;
  box-shadow: rgba(111, 87, 130, 0.32) 0px 12px 30px 0px;
  background: white;
  cursor: pointer;
}

.home .left {
  width: 46vw;
  padding: 30px;
}

.home .right {
  width: 46vw;
}

/* service section  */

.service-sec {
  height: 300px;
  align-items: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.service-sec .txt h1 {
  border-bottom: 2px solid #9a9ae1;
}

.service-sec .main-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  column-gap: 17px;
}

.service-sec .main-box .box {
  background: white;
  width: 240px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  row-gap: 20px;
  /* align-items: center; */
  box-shadow: rgba(111, 87, 130, 0.32) 0px 12px 30px 0px;
  transition: all 0.4s ease-in-out;
}

.service-sec .main-box .box:hover {
  transform: rotate(5deg);
}

.service-sec .main-box .box .txt {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
}

.service-sec .main-box .box .txt .main-txt {
  font-size: 23px;
  color: black;
}

.service-sec .main-box .box .txt p {
  color: darkgray;
}

.service-sec .main-box .box img {
  width: 70px;
}

/* service section end */

/* query section */

.query-sec {
  height: 628px;
  align-items: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

.query-sec .txt h1 {
  border-bottom: 2px solid #9a9ae1;
}

.query-sec .main-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  column-gap: 20px;
}

.query-sec .main-sec .main-box {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.query-sec .main-sec .main-box .box {
  background: white;
  padding: 10px 25px;
  box-shadow: rgba(111, 87, 130, 0.32) 0px 0px 3px 0px;
  border-radius: 10px;
}

.query-sec .main-sec .main-box .box p {
  display: flex;
  align-items: center;
  column-gap: 30px;
  font-size: 22px;
}

.query-sec .main-sec .main-box .box p .plus {
  font-size: 45px;
  cursor: pointer;
}

/* query sec end */

/* project section */

.project-sec {
  height: 920px;
  align-items: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.project-sec .txt h1 {
  border-bottom: 2px solid #9a9ae1;
}

.project-sec .main-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 27px;
}

.project-sec .main-box .box {
  background: white;
  height: 417px;
  width: 400px;
  flex-direction: column;
  align-items: center;
  display: flex;
  border-radius: 10px;
  box-shadow: rgba(111, 87, 130, 0.32) 0px 12px 30px 0px;
  transition: all 0.4s ease-in-out;
}

.project-sec .main-box .box:hover {
  transform: rotate(5deg);
}

.project-sec .main-box .box img {
  width: 345px;
  padding: 30px;
}

/* project section end */

/* client section  */

.client-sec {
  height: 350px;
  align-items: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

.client-sec .txt h1 {
  border-bottom: 2px solid #9a9ae1;
}

.client-sec .main-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 27px;
}

.client-sec .main-box .box {
  background: white;
  height: 215px;
  width: 345px;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  display: flex;
  border-radius: 10px;
  box-shadow: rgba(111, 87, 130, 0.32) 0px 12px 30px 0px;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  row-gap: 20px;
}

.client-sec .main-box .box p {
  /* font-family: cursive; */
  font-size: 20px;
  width: 371px;
  display: flex;
  text-align: justify;
}

.client-sec .main-box .box .name-img {
  display: flex;
  margin: auto;
  align-items: center;
  column-gap: 35px;
}

.client-sec .main-box .box .name-img img {
  border-radius: 50%;
}

/* client section  end */

/* footer section */

.foot-sec {
  height: 390px;
  align-items: center;
  padding: 30px;
  display: flex;
  background-image: linear-gradient(to left, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  flex-direction: column;
}

.foot-sec .txt h1 {
  border-bottom: 3px solid #9a9ae1;
}

.foot-sec .txt .sub {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot-sec .txt .sub input {
  width: 40vw;
  height: 3.3vw;
  border-radius: 35px;
  position: absolute;
  border: none;
  padding-left: 20px;
  font-size: 20px;
  background-color: white;
}

.foot-sec .txt .sub button {
  position: relative;
  margin-left: 90%;
  padding: 11px 32px;
  border-radius: 35px;
  border: none;
  background-color: #6883e7;
}

.main-foot-sec{
  margin-top: 25px;
  display: flex;
  column-gap: 35px;
}

.foot-sec .foot-txt{
  width: 355px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 11px;
}

.foot-sec .foot-txt .icon-sec{
  font-size: 30px;
}

.foot-sec .foot-txt .icon-sec i{
  cursor: pointer;
}

.foot-sec .foot-txt .header-item{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.foot-sec .foot-txt .header-item a{
  text-decoration: none;
  color: black;
}

.foot-sec .foot-txt .cnt{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.foot-sec .foot-txt .cnt .gmail{
  display: flex;
  column-gap: 10px;
}

.foot-sec .copyright{
  margin-top: 12px;
}